body{
    background-color: #fbf7eb;
}

#fbar{
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;
}

#logo{
    position: absolute;
    border-radius: 10%;
    height: 55px;
    width: 55px;
    top: 1.1vh;
    right: 95.5vw;
}

.title{
    position: absolute;
    color: #3d4a3c;
    font-size: 35px;
    font-family: Helvetica;
    text-align: left;
    width: 200px;
    top: 1.5vh;
    right: 81vw;
}

.event{
    position: absolute;
    text-align: center;
    right: 12vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 100px;
    top: 1.75vh;
    z-index: 1;
}

.event:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.thank{
    position: absolute;
    text-align: center;
    right: 1.3vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 150px;
    top: 1.75vh;
}

.thank:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.picture_wall{
    position: absolute;
    text-align: center;
    right: 19.3vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 130px;
    top: 1.75vh;
}

.picture_wall:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

#gend{
    position: absolute;
    width: 100vw;
    top: 220vh;
    left: 0;
}