body{
    background-color: #fbf7eb;
}

#fbar{
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;
}

#logo{
    position: absolute;
    border-radius: 10%;
    height: 55px;
    width: 55px;
    top: 1.1vh;
    right: 95.5vw;
}

#timeline{
    position: absolute;
    height: 3000px;
    width: 900px;
    top: -10vh;
    left: 19vw;
}

#bctrain{
    position: absolute;
    width: 180px;
    height: 120px;
    right: 17vw;
    top: 43vh;
}

#bcpromote{
    position: absolute;
    width: 180px;
    height: 120px;
    left: 15vw;
    top: 96.5vh;
}

#bchalloween{
    position: absolute;
    width: 180px;
    height: 120px;
    right: 17vw;
    top: 150vh;
}

.title{
    position: absolute;
    color: #3d4a3c;
    font-size: 35px;
    font-family: Helvetica;
    text-align: left;
    width: 200px;
    top: 1.5vh;
    right: 81vw;
}

.event{
    position: absolute;
    text-align: right;
    right: 13vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    width: 100px;
    top: 1.75vh;
}

.thank{
    position: absolute;
    text-align: right;
    right: 2vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    width: 130px;
    top: 1.75vh;
}

.train{
    position: absolute;
    font-family: Helvetica;
    font-size: 25px;
    color: #fbf7eb;
    right: 21.5vw;
    top: 48.3vh;
}

.promote{
    position: absolute;
    font-family: Helvetica;
    font-size: 25px;
    color: #fbf7eb;
    left: 17.8vw;
    top: 102vh;
}

.halloween{
    position: absolute;
    font-family: Helvetica;
    font-size: 25px;
    /* color: #fbf7eb; */
    right: 21.5vw;
    top: 155.7vh;
}