body{
    background-color: #fbf7eb;
}

@keyframes delay{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

#fbar{
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;
}

#logo{
    position: absolute;
    border-radius: 10%;
    height: 55px;
    width: 55px;
    top: 1.1vh;
    right: 95.5vw;
}

#timeline{
    position: absolute;
    height: 3000px;
    width: 900px;
    top: -10vh;
    left: 19vw;
    animation: delay 1s 0s none;
}

#bctrain{
    position: absolute;
    width: 180px;
    height: 120px;
    right: 17vw;
    top: 43vh;
    animation: delay 1s 0s none;
    /* top: 353px; */
}

#bcpromote{
    position: absolute;
    width: 180px;
    height: 120px;
    left: 15vw;
    /* top: 96.5vh; */
    top: 793px;
    animation: delay 1s 0s none;
}

#bchalloween{
    position: absolute;
    width: 180px;
    height: 120px;
    right: 17vw;
    top: 149.5vh;
    animation: delay 1s 0s none;
}

#bcdance{
    position: absolute;
    width: 180px;
    height: 120px;
    left: 16vw;
    top: 202.5vh;
    animation: delay 1s 0s none;
}

#bcyearend{
    position: absolute;
    width: 180px;
    height: 120px;
    right: 15vw;
    top: 253.5vh;
    animation: delay 1s 0s none;
}

#bcbasketball{
    position: absolute;
    width: 180px;
    height: 120px;
    left: 16vw;
    top: 303.5vh;
    animation: delay 1s 0s none;
}

#eyeregular{
    position: absolute;
    width: 370px;
    height: 320px;
    top: 15vh;
    left: 5vw;
    animation: delay 1s 0s none;
}

#eyespecial{
    position: absolute;
    width: 370px;
    height: 320px;
    top: 15vh;
    left: 5vw;
    opacity: 0;
    z-index: 1;
}

#eyespecial:hover{
    opacity: 1;
}

#normalp0{
    position: absolute;
    width: 256px;
    height: 256px;
    top: 280vh;
    right: 10vw;
    animation: delay 1s 0s none;
}

#specialp0{
    position: absolute;
    width: 256px;
    height: 256px;
    top: 280vh;
    right: 10vw;
    opacity: 0;
    z-index: 1;
}

#specialp0:hover{
    opacity: 1;
}

#e_penguin{
    position: absolute;
    height: 384px;
    width: 384px;
    left: 37.5vw;
    top: 340vh;
    /* border: #3d4a3c;
    border: solid;
    border-radius: 5%; */
    animation: delay 1s 0s none;
}

#gend{
    position: absolute;
    width: 100vw;
    top: 400vh;
    left: 0;
}

.title{
    position: absolute;
    color: #3d4a3c;
    font-size: 35px;
    font-family: Helvetica;
    text-align: left;
    width: 200px;
    top: 1.5vh;
    right: 81vw;
}

.event{
    position: absolute;
    text-align: center;
    right: 12vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 100px;
    top: 1.75vh;
    z-index: 1;
}

.event:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.thank{
    position: absolute;
    text-align: center;
    right: 1.3vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 150px;
    top: 1.75vh;
}

.thank:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.picture_wall{
    position: absolute;
    text-align: center;
    right: 19.3vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 130px;
    top: 1.75vh;
}

.picture_wall:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.train{
    position: absolute;
    font-family: Helvetica;
    font-size: 25px;
    color: #fbf7eb;
    right: 21.5vw;
    top: 48.3vh;
    animation: delay 1s 0s none;
}

.promote{
    position: absolute;
    font-family: Helvetica;
    font-size: 25px;
    color: #fbf7eb;
    left: 17.8vw;
    top: 102vh;
    animation: delay 1s 0s none;
}

.halloween{
    position: absolute;
    font-family: Helvetica;
    font-size: 25px;
    color: #fbf7eb;
    right: 20.5vw;
    top: 155vh;
    animation: delay 1s 0s none;
}

.dance{
    position: absolute;
    font-family: Helvetica;
    font-size: 25px;
    color: #fbf7eb;
    left: 19.5vw;
    top: 207.8vh;
    animation: delay 1s 0s none;
}

.yearend{
    position: absolute;
    font-family: Helvetica;
    font-size: 25px;
    color: #fbf7eb;
    right: 17.8vw;
    top: 258.8vh;
    animation: delay 1s 0s none;
}

.basketball{
    position: absolute;
    font-family: Helvetica;
    font-size: 25px;
    color: #fbf7eb;
    left: 20.5vw;
    top: 309vh;
    animation: delay 1s 0s none;
}