body{
    background-color: #fbf7eb;
}

@keyframes delay{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

/* #fbar{
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;
}

#logo{
    position: absolute;
    border-radius: 10%;
    height: 55px;
    width: 55px;
    top: 1.1vh;
    right: 95.5vw;
} */

#timeline{
    position: relative;
    height: 312vw;
    left: 4vw;
    top: -20vh;
    animation: delay 1s 0s none;
}

/* #bctrain{
    position: absolute;
    width: 180px;
    height: 120px;
    right: 18vw;
    top: 50vh;
    animation: delay 1s 0s none;
    top: 353px;
}

#bcpromote{
    position: absolute;
    width: 180px;
    height: 120px;
    left: 15vw;
    top: 96.5vh;
    top: 800px;
    animation: delay 1s 0s none;
}

#bchalloween{
    position: absolute;
    width: 180px;
    height: 120px;
    right: 17vw;
    top: 171vh;
    animation: delay 1s 0s none;
}

#bcdance{
    position: absolute;
    width: 180px;
    height: 120px;
    left: 16vw;
    top: 231vh;
    animation: delay 1s 0s none;
}

#bcyearend{
    position: absolute;
    width: 180px;
    height: 120px;
    right: 15vw;
    top: 253.5vh;
    animation: delay 1s 0s none;
}

#bcbasketball{
    position: absolute;
    width: 180px;
    height: 120px;
    left: 16vw;
    top: 303.5vh;
    animation: delay 1s 0s none;
} */

#eyeregular{
    position: absolute;
    width: 26vw;
    top: 15vh;
    left: 5vw;
    animation: delay 1s 0s none;
}

#eyespecial{
    position: absolute;
    width: 26vw;
    top: 15vh;
    left: 5vw;
    opacity: 0;
    z-index: 1;
}

.eyegg{
    position: relative;
    background-color: #3d4a3c;
    color: #fbf7eb;
    font-size: 2.3vh;
    font-family: Helvetica;
    text-align: center;
    top: -650vh;
    left: 30vw;
    width: 12vw;
    border-radius: 5%;
    z-index: 4;
}

#eyespecial:hover{
    opacity: 1;
}

#normalp0{
    position: absolute;
    width: 20vw;
    top: 315vh;
    right: 10vw;
    animation: delay 1s 0s none;
}

#specialp0{
    position: absolute;
    width: 20vw;
    top: 315vh;
    right: 10vw;
    opacity: 0;
    z-index: 1;
}

#specialp0:hover{
    opacity: 1;
}

.twinkle{
    position: relative;
    background-color: #3d4a3c;
    color: #fbf7eb;
    font-size: 2.3vh;
    font-family: Helvetica;
    text-align: center;
    top: -350vh;
    left: 88vw;
    width: 8vw;
    border-radius: 5%;
}

#e_penguin{
    position: absolute;
    width: 25vw;
    left: 37.5vw;
    top: 620vh;
    /* border: #3d4a3c;
    border: solid;
    border-radius: 5%; */
    animation: delay 1s 0s none;
}

#gend{
    position: absolute;
    width: 100vw;
    top: 700vh;
    left: 0;
}

/* .title{
    position: absolute;
    color: #3d4a3c;
    font-size: 35px;
    font-family: Helvetica;
    text-align: left;
    width: 200px;
    top: 1.5vh;
    right: 81vw;
}

.event{
    position: absolute;
    text-align: center;
    right: 12vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 100px;
    top: 1.75vh;
    z-index: 1;
}

.event:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.thank{
    position: absolute;
    text-align: center;
    right: 1.3vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 150px;
    top: 1.75vh;
}

.thank:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.picture_wall{
    position: absolute;
    text-align: center;
    right: 19.3vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 130px;
    top: 1.75vh;
}

.picture_wall:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
} */

.train{
    position: absolute;
    font-family: Helvetica;
    font-size: 5.5vh;
    text-align: center;
    background-color: #d5e3d4;
    color: #3d4a3c;
    border-radius: 10%;
    width: 30vh;
    right: 3vw;
    top: 87vh;
    animation: delay 1s 0s none;
}

.train:hover{
    color: #fbf7eb;
    background-color: #3d4a3c;
    transition-duration: 0.3s;
} 

.promote{
    position: absolute;
    font-family: Helvetica;
    font-size: 5.5vh;
    text-align: center;
    background-color: #d5e3d4;
    color: #3d4a3c;
    border-radius: 10%;
    width: 35vh;
    left: 2.5vw;
    top: 184vh;
    animation: delay 1s 0s none;
}

.promote:hover{
    color: #fbf7eb;
    background-color: #3d4a3c;
    transition-duration: 0.3s;
} 

.halloween{
    position: absolute;
    font-family: Helvetica;
    font-size: 5.5vh;
    text-align: center;
    background-color: #d5e3d4;
    color: #3d4a3c;
    border-radius: 10%;
    width: 30vh;
    right: 4vw;
    top: 281.5vh;
    animation: delay 1s 0s none;
}

.halloween:hover{
    color: #fbf7eb;
    background-color: #3d4a3c;
    transition-duration: 0.3s;
} 

.dance{
    position: absolute;
    font-family: Helvetica;
    font-size: 5.5vh;
    text-align: center;
    background-color: #d5e3d4;
    color: #3d4a3c;
    border-radius: 10%;
    width: 30vh;
    left: 6vw;
    top: 377vh;
    animation: delay 1s 0s none;
}

.dance:hover{
    color: #fbf7eb;
    background-color: #3d4a3c;
    transition-duration: 0.3s;
} 

.yearend{
    position: absolute;
    font-family: Helvetica;
    font-size: 5.5vh;
    text-align: center;
    background-color: #d5e3d4;
    color: #3d4a3c;
    border-radius: 10%;
    width: 30vh;
    right: 2.5vw;
    top: 470vh;
    animation: delay 1s 0s none;
}

.yearend:hover{
    color: #fbf7eb;
    background-color: #3d4a3c;
    transition-duration: 0.3s;
} 

.basketball{
    position: absolute;
    font-family: Helvetica;
    font-size: 5.5vh;
    text-align: center;
    background-color: #d5e3d4;
    color: #3d4a3c;
    border-radius: 10%;
    width: 30vh;
    left: 5vw;
    top: 561vh;
    animation: delay 1s 0s none;
}

.basketball:hover{
    color: #fbf7eb;
    background-color: #3d4a3c;
    transition-duration: 0.3s;
} 

.construct{
    position: relative;
    background-color: #3d4a3c;
    color: #fbf7eb;
    font-size: 2.3vh;
    font-family: Helvetica;
    text-align: center;
    left: 60vw;
    top: -45vh;
    width: 15vw;
    border-radius: 5%;
}