body{
    background-color: #fbf7eb;
}

@keyframes delay{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

#fbar{
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;
}

#logo{
    position: absolute;
    border-radius: 10%;
    height: 1vh;
    width: 1vw;
    top: 1.1vh;
    right: 95.5vw;
}

/* #pend{
    position: absolute;
    top: 180vh;
    opacity: 0;
} */

#gend{
    position: absolute;
    width: 100vw;
    top: 300vh;
    left: 0;
}

/* #ecolor{
    position: absolute;
    top: 0px;
    height: 8.75%;
    right: 11.35vw;
    opacity: 0;
    z-index: 3;
} */

/* #ecolor:hover{
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
} */

#first{
    position: absolute;
    height: 1000px;
    width: 1000px;
    left: 16vw;
    top: 8.9vh;
    animation: delay 1s 0s none;
}

#f_event{
    position: absolute;
    height: 150px;
    width: 450px;
    left: 35vw;
    top: 148vh;
    border: #3d4a3c;
    border: solid;
    border-radius: 5%;
    animation: delay 1s 0s none;
}

#f_FAQs{
    position: absolute;
    height: 150px;
    width: 450px;
    left: 35vw;
    top: 220vh;
    border: #3d4a3c;
    border: solid;
    border-radius: 5%;
    animation: delay 1s 0s none;
}

#f_penguin{
    position: absolute;
    height: 384px;
    width: 384px;
    left: 37.5vw;
    top: 245vh;
    /* border: #3d4a3c;
    border: solid;
    border-radius: 5%; */
    animation: delay 1s 0s none;
}

.f_train{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 175vh;
    left: 8.75vw;
    z-index: 1;
    animation: delay 1s 0s none;
    transform: scale(1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.f_train:hover{
    z-index: 2;
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.f_promote{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 175vh;
    left: 22.7vw;
    z-index: 1;
    animation: delay 1s 0s none;
    transform: scale(1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.f_promote:hover{
    z-index: 2;
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.f_halloween{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 175vh;
    left: 36.65vw;
    z-index: 1;
    animation: delay 1s 0s none;
    transform: scale(1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.f_halloween:hover{
    z-index: 2;
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.f_dance{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 175vh;
    left: 50.6vw;
    z-index: 1;
    animation: delay 1s 0s none;
    transform: scale(1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.f_dance:hover{
    z-index: 2;
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.f_end{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 175vh;
    left: 64.55vw;
    z-index: 1;
    animation: delay 1s 0s none;
    transform: scale(1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.f_end:hover{
    z-index: 2;
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.f_bask{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 175vh;
    left: 78.5vw;
    z-index: 1;
    animation: delay 1s 0s none;
    transform: scale(1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.f_bask:hover{
    z-index: 2;
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.title{
    position: absolute;
    color: #3d4a3c;
    font-size: 35px;
    font-family: Helvetica;
    text-align: center;
    height: 100px;
    width: 200px;
    top: 1.5vh;
    right: 81vw;
}

.event{
    position: absolute;
    text-align: center;
    right: 12vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 100px;
    top: 1.75vh;
    z-index: 1;
}

.event:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.thank{
    position: absolute;
    text-align: center;
    right: 1.3vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 150px;
    top: 1.75vh;
}

.thank:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.picture_wall{
    position: absolute;
    text-align: center;
    right: 19.3vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 130px;
    top: 1.75vh;
}

.picture_wall:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}
