body{
    background-color: #fbf7eb;
}

#fbar{
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;
}

#logo{
    position: absolute;
    border-radius: 10%;
    height: 50px;
    width: 50px;
}

.title{
    position: absolute;
    color: #3d4a3c;
    font-size: 35px;
    font-family: Helvetica;
    text-align: left;
    width: 200px;
    top: 11px;
    right: 80vw;
}

.event{
    position: absolute;
    text-align: right;
    right: 13vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    width: 100px;
    top: 1.5vh;
}

.thank{
    position: absolute;
    text-align: right;
    right: 2vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    width: 130px;
    top: 1.5vh;
}