body{
    background-color: #fbf7eb;
}

#fbar{
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;
}

.title{
    position: absolute;
    color: #3d4a3c;
    font-size: 35px;
    font-family: Helvetica;
    width: 200px;
    top: 11px;
    right: 10vw;
}

.event{
    position: absolute;
    text-align: right;
    right: 200px;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    width: 100px;
    top: 13px;
}

.thank{
    position: absolute;
    text-align: right;
    right: 30px;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    width: 130px;
    top: 13px;
}