body{
    background-color: #fbf7eb;
}

@keyframes delay{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

/* #fbar{
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;
}

#logo{
    position: absolute;
    border-radius: 10%;
    height: 55px;
    width: 55px;
    top: 1.1vh;
    right: 95.5vw;
} */

#picture_wall1{
    position: absolute;
    height: 186.5vh;
    /* width: 720px; */
    top: 20vh;
    left: 25vw;
    animation: delay 1s 0s none;
}

#picture_wall2{
    position: absolute;
    height: 186.5vh;
    top: 230vh;
    left: 25vw;
    animation: delay 1s 0s none;
}

#p8{
    position: absolute;
    height: 160vh;
    top: 440vh;
    left: 25vw;
    animation: delay 1s 0s none;
}

#p7{
    position: absolute;
    height: 160vh;
    top: 620vh;
    left: 25vw;
    animation: delay 1s 0s none;
}

#p6{
    position: absolute;
    height: 160vh;
    top: 790vh;
    left: 25vw;
    animation: delay 1s 0s none;
}

#p5{
    position: absolute;
    height: 160vh;
    top: 970vh;
    left: 25vw;
    animation: delay 1s 0s none;
}

#p4{
    position: absolute;
    height: 160vh;
    top: 1160vh;
    left: 25vw;
    animation: delay 1s 0s none;
}

#p3{
    position: absolute;
    height: 160vh;
    top: 1350vh;
    left: 25vw;
    animation: delay 1s 0s none;
}

#p2{
    position: absolute;
    height: 160vh;
    top: 1540vh;
    left: 25vw;
    animation: delay 1s 0s none;
}

#p1{
    position: absolute;
    height: 160vh;
    top: 1720vh;
    left: 25vw;
    animation: delay 1s 0s none;
}

#p_penguin{
    position: absolute;
    width: 25vw;
    left: 37.5vw;
    top: 1900vh;
    /* border: #3d4a3c;
    border: solid;
    border-radius: 5%; */
    animation: delay 1s 0s none;
}

#gend{
    position: absolute;
    width: 100vw;
    top: 1960vh;
    left: 0;
}

#catap_normal{
    position: absolute;
    width: 256px;
    height: 256px;
    top: 345vh;
    right: 3vw;
    animation: delay 1s 0s none;
}

#catap_shiny{
    position: absolute;
    width: 256px;
    height: 256px;
    top: 345vh;
    right: 3vw;
    opacity: 0;
    z-index: 1;
}

#catap_shiny:hover{
    opacity: 1;
}

/* .title{
    position: absolute;
    color: #3d4a3c;
    font-size: 35px;
    font-family: Helvetica;
    text-align: left;
    width: 200px;
    top: 1.5vh;
    right: 81vw;
} */

/* .event{
    position: absolute;
    text-align: center;
    right: 12vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 100px;
    top: 1.75vh;
    z-index: 1;
}

.event:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.thank{
    position: absolute;
    text-align: center;
    right: 1.3vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 150px;
    top: 1.75vh;
}

.thank:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.picture_wall{
    position: absolute;
    text-align: center;
    right: 19.3vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 130px;
    top: 1.75vh;
}

.picture_wall:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
} */

.catap_title{
    position: absolute;
    background-color: #3d4a3c;
    color: #fbf7eb;
    font-size: 2.3vh;
    font-family: Helvetica;
    text-align: center;
    top: 340vh;
    right: 9vw;
    width: 6vw;
    border-radius: 5%;
}

.construct{
    position: relative;
    background-color: #3d4a3c;
    color: #fbf7eb;
    font-size: 2.3vh;
    font-family: Helvetica;
    text-align: center;
    left: 60vw;
    top: 1900vh;
    width: 12vw;
    border-radius: 5%;
}