body{
    background-color: #fbf7eb;
}

@keyframes delay{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

#fbar{
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;
}

#logo{
    position: absolute;
    border-radius: 10%;
    height: 55px;
    width: 55px;
    top: 1.1vh;
    right: 95.5vw;
}

#picture_wall1{
    position: absolute;
    height: 1279.5px;
    width: 720px;
    top: 20vh;
    left: 25vw;
    animation: delay 1s 0s none;
}

#picture_wall2{
    position: absolute;
    height: 1279.5px;
    width: 720px;
    top: 190vh;
    left: 25vw;
    animation: delay 1s 0s none;
}

#p_penguin{
    position: absolute;
    height: 384px;
    width: 384px;
    left: 37.5vw;
    top: 360vh;
    /* border: #3d4a3c;
    border: solid;
    border-radius: 5%; */
    animation: delay 1s 0s none;
}

#gend{
    position: absolute;
    width: 100vw;
    top: 420vh;
    left: 0;
}

#catap_normal{
    position: absolute;
    width: 256px;
    height: 256px;
    top: 345vh;
    right: 3vw;
    animation: delay 1s 0s none;
}

#catap_shiny{
    position: absolute;
    width: 256px;
    height: 256px;
    top: 345vh;
    right: 3vw;
    opacity: 0;
    z-index: 1;
}

#catap_shiny:hover{
    opacity: 1;
}

.title{
    position: absolute;
    color: #3d4a3c;
    font-size: 35px;
    font-family: Helvetica;
    text-align: left;
    width: 200px;
    top: 1.5vh;
    right: 81vw;
}

.event{
    position: absolute;
    text-align: center;
    right: 12vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 100px;
    top: 1.75vh;
    z-index: 1;
}

.event:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.thank{
    position: absolute;
    text-align: center;
    right: 1.3vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 150px;
    top: 1.75vh;
}

.thank:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.picture_wall{
    position: absolute;
    text-align: center;
    right: 19.3vw;
    color: #3d4a3c;
    font-size: 30px;
    font-family: Helvetica;
    line-height: 1.5;
    width: 130px;
    top: 1.75vh;
}

.picture_wall:hover{
    background-color: #3d4a3c;
    color: #fbf7eb;
    transition-duration: 0.3s;
}

.catap_title{
    position: absolute;
    background-color: #3d4a3c;
    color: #fbf7eb;
    font-size: 20px;
    font-family: Helvetica;
    text-align: center;
    top: 340vh;
    right: 9vw;
    width: 110px;
    border-radius: 5%;
}